In [8]:
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup as bs
from google.colab import drive

In [9]:
countries = {"ar": "Argentina",
             "au": "Australia",
             "at": "Austria",
             "by": "Belarus",
             "be": "Belgium",
             "bo": "Bolivia",
             "br": "Brazil",
             "bg": "Bulgaria",
             "ca": "Canada",
             "cl": "Chile",
             "co": "Colombia",
             "cr": "Costa Rica",
             "cy": "Cyprus",
             "cz": "Czech Republic",
             "dk": "Denmark",
             "do": "Dominican Republic",
             "ec": "Ecuador",
             "eg": "Egypt",
             "sv": "El Salvador",
             "ee": "Estonia",
             "fi": "Finland",
             "fr": "France",
             "de": "Germany",
             "gr": "Greece",
             "gt": "Guatemala",
             "hn": "Honduras",
             "hk": "Hong Kong",
             "hu": "Hungary",
             "is": "Iceland",
             "in": "India",
             "id": "Indonesia",
             "ie": "Ireland",
             "il": "Israel",
             "it": "Italy",
             "jp": "Japan",
             "kz": "Kazakhstan",
             "lv": "Latvia",
             "lt": "Lithuania",
             "lu": "Luxembourg",
             "my": "Malaysia",
             "mx": "Mexico",
             "ma": "Morocco",
             "nl": "Netherlands",
             "nz": "New Zealand",
             "ni": "Nicaragua",
             "ng": "Nigeria",
             "no": "Norway",
             "pa": "Panama",
             "py": "Paraguay",
             "pe": "Peru",
             "ph": "Philippines",
             "pl": "Poland",
             "pt": "Portugal",
             "ro": "Romania",
             "ru": "Russia",
             "sa": "Saudi Arabia",
             "sg": "Singapore",
             "sk": "Slovakia",
             "za": "South Africa",
             "kr": "South Korea",
             "es": "Spain",
             "se": "Sweden",
             "ch": "Switzerland",
             "tw": "Taiwan",
             "th": "Thailand",
             "tr": "Turkey",
             "ae": "United Arab Emirates",
             "ua": "Ukraine",
             "gb": "United Kingdom",
             "uy": "Uruguay",
             "us": "United States",
             "vn": "Vietnam"
             }

In [10]:
dates = ["2021-12-31", "2022-01-07", "2022-01-14", "2022-01-21", "2022-01-28", "2022-02-04", "2022-02-11", 
         "2022-02-18", "2022-02-25", "2022-03-04", "2022-03-11", "2022-03-18", "2022-03-25", "2022-04-01"]

In [11]:
def scrape_page_weekly(country_code, date1, date2):
  url = "https://spotifycharts.com/regional/" + country_code + "/weekly/" + date1 + "--" + date2
  headers = {'user-agent': 'Chrome/76.67.59.152'}
  scraped = requests.get(url, headers = headers)
  scraped_html = bs(scraped.content, 'html.parser')

  df = pd.DataFrame(columns = ['Source', 'Position', 'Trend', 'Track', 'Streams'])
  
  table = scraped_html.find('table')

  if table:
    table_rows = table.find_all('tr')
    for row in table_rows:
      td = row.find_all('td')
      row_text = [str(t) for t in td]
      if row_text:
        new_row = pd.DataFrame({'Source': [row_text[0]],
                                'Position': [row_text[1]],
                                'Trend': [row_text[2]],
                                'Track': [row_text[3]],
                                'Streams': [row_text[4]]})
        df = df.append(new_row, ignore_index = True)
    
    df = df.assign(Country = countries[country_code], Country_Code = country_code, Week_Start = date1, Week_Ending = date2)

  return(df)

In [12]:
def scrape_page_daily(country_code, date):
  url = "https://spotifycharts.com/regional/" + country_code + "/daily/" + date
  headers = {'user-agent': 'Chrome/76.67.59.152'}
  scraped = requests.get(url, headers = headers)
  scraped_html = bs(scraped.content, 'html.parser')

  df = pd.DataFrame(columns = ['Source', 'Position', 'Trend', 'Track', 'Streams'])
  
  table = scraped_html.find('table')

  if table:
    table_rows = table.find_all('tr')
    for row in table_rows:
      td = row.find_all('td')
      row_text = [str(t) for t in td]
      if row_text:
        new_row = pd.DataFrame({'Source': [row_text[0]],
                                'Position': [row_text[1]],
                                'Trend': [row_text[2]],
                                'Track': [row_text[3]],
                                'Streams': [row_text[4]]})
        df = df.append(new_row, ignore_index = True)
    
    df = df.assign(Country = countries[country_code], Country_Code = country_code, Date = date)

  return(df)

In [13]:
# Testing scrape page weekly function
scrape_page_weekly("ca", "2022-02-25", "2022-03-04")

,Source,Position,Trend,Track,Streams,Country,Country_Code,Week_Start,Week_Ending
0,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">1</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Heat W...","<td class=""chart-table-streams"">1,070,514</td>",Canada,ca,2022-02-25,2022-03-04
1,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">2</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Cold H...","<td class=""chart-table-streams"">878,506</td>",Canada,ca,2022-02-25,2022-03-04
2,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">3</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>We Don...","<td class=""chart-table-streams"">844,855</td>",Canada,ca,2022-02-25,2022-03-04
3,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">4</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>STAY (...","<td class=""chart-table-streams"">832,044</td>",Canada,ca,2022-02-25,2022-03-04
4,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">5</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>INDUST...","<td class=""chart-table-streams"">738,693</td>",Canada,ca,2022-02-25,2022-03-04
...,...,...,...,...,...,...,...,...,...
195,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">196</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>gooseb...","<td class=""chart-table-streams"">211,304</td>",Canada,ca,2022-02-25,2022-03-04
196,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">197</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Ms. Ja...","<td class=""chart-table-streams"">210,654</td>",Canada,ca,2022-02-25,2022-03-04
197,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">198</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Acapul...","<td class=""chart-table-streams"">210,431</td>",Canada,ca,2022-02-25,2022-03-04
198,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">199</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>The Hi...","<td class=""chart-table-streams"">210,308</td>",Canada,ca,2022-02-25,2022-03-04
199,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">200</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>It'll ...","<td class=""chart-table-streams"">210,075</td>",Canada,ca,2022-02-25,2022-03-04

In [14]:
# Testing scrape page daily function
scrape_page_daily("ca", "2022-02-10")

,Source,Position,Trend,Track,Streams,Country,Country_Code,Date
0,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">1</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Heat W...","<td class=""chart-table-streams"">167,825</td>",Canada,ca,2022-02-10
1,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">2</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>We Don...","<td class=""chart-table-streams"">151,511</td>",Canada,ca,2022-02-10
2,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">3</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Cold H...","<td class=""chart-table-streams"">148,151</td>",Canada,ca,2022-02-10
3,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">4</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>STAY (...","<td class=""chart-table-streams"">133,965</td>",Canada,ca,2022-02-10
4,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">5</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>pushin...","<td class=""chart-table-streams"">128,252</td>",Canada,ca,2022-02-10
...,...,...,...,...,...,...,...,...
195,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">196</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Love S...","<td class=""chart-table-streams"">31,062</td>",Canada,ca,2022-02-10
196,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">197</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Can't ...","<td class=""chart-table-streams"">31,001</td>",Canada,ca,2022-02-10
197,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">198</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>gooseb...","<td class=""chart-table-streams"">30,960</td>",Canada,ca,2022-02-10
198,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">199</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>NEW MA...","<td class=""chart-table-streams"">30,833</td>",Canada,ca,2022-02-10
199,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">200</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>The Hi...","<td class=""chart-table-streams"">30,754</td>",Canada,ca,2022-02-10

In [ ]:
# Testing a function to compile data from all countries into one
spotify_data = pd.DataFrame()
for country_code in countries.keys():
  country_df = scrape_page(country_code, "2022-02-25", "2022-03-04")
  spotify_data = spotify_data.append(country_df, ignore_index = True)
  print("Country Name: " + countries[country_code])
  print("Country Code: " + country_code)
  print("Read " + str(country_df.shape[0]) + " rows")
  print("Total Rows: " + str(spotify_data.shape[0]) + "\n")
  time.sleep(1)

In [18]:
spotify_data = pd.DataFrame()
for i in range(len(dates) - 1):
  for country_code in countries.keys():
    country_df = scrape_page_weekly(country_code, dates[i], dates[i+1])
    spotify_data = spotify_data.append(country_df, ignore_index = True)
    print("Country Name: " + countries[country_code])
    print("Country Code: " + country_code)
    print("Read " + str(country_df.shape[0]) + " rows")
    print("Total Rows: " + str(spotify_data.shape[0]) + "\n")
    time.sleep(1)

Country Name: Argentina
Country Code: ar
Read 200 rows
Total Rows: 200

Country Name: Australia
Country Code: au
Read 200 rows
Total Rows: 400

Country Name: Austria
Country Code: at
Read 200 rows
Total Rows: 600

Country Name: Belarus
Country Code: by
Read 0 rows
Total Rows: 600

Country Name: Belgium
Country Code: be
Read 200 rows
Total Rows: 800

Country Name: Bolivia
Country Code: bo
Read 200 rows
Total Rows: 1000

Country Name: Brazil
Country Code: br
Read 200 rows
Total Rows: 1200

Country Name: Bulgaria
Country Code: bg
Read 200 rows
Total Rows: 1400

Country Name: Canada
Country Code: ca
Read 200 rows
Total Rows: 1600

Country Name: Chile
Country Code: cl
Read 200 rows
Total Rows: 1800

Country Name: Colombia
Country Code: co
Read 200 rows
Total Rows: 2000

Country Name: Costa Rica
Country Code: cr
Read 200 rows
Total Rows: 2200

Country Name: Cyprus
Country Code: cy
Read 200 rows
Total Rows: 2400

Country Name: Czech Republic
Country Code: cz
Read 200 rows
Total Rows: 2600

Country Name: Denmark
Country Code: dk
Read 200 rows
Total Rows: 2800

Country Name: Dominican Republic
Country Code: do
Read 200 rows
Total Rows: 3000

Country Name: Ecuador
Country Code: ec
Read 200 rows
Total Rows: 3200

Country Name: Egypt
Country Code: eg
Read 200 rows
Total Rows: 3400

Country Name: El Salvador
Country Code: sv
Read 200 rows
Total Rows: 3600

Country Name: Estonia
Country Code: ee
Read 200 rows
Total Rows: 3800

Country Name: Finland
Country Code: fi
Read 200 rows
Total Rows: 4000

Country Name: France
Country Code: fr
Read 200 rows
Total Rows: 4200

Country Name: Germany
Country Code: de
Read 200 rows
Total Rows: 4400

Country Name: Greece
Country Code: gr
Read 200 rows
Total Rows: 4600

Country Name: Guatemala
Country Code: gt
Read 200 rows
Total Rows: 4800

Country Name: Honduras
Country Code: hn
Read 200 rows
Total Rows: 5000

Country Name: Hong Kong
Country Code: hk
Read 200 rows
Total Rows: 5200

Country Name: Hungary
Country Code: hu
Read 200 rows
Total Rows: 5400

Country Name: Iceland
Country Code: is
Read 200 rows
Total Rows: 5600

Country Name: India
Country Code: in
Read 200 rows
Total Rows: 5800

Country Name: Indonesia
Country Code: id
Read 200 rows
Total Rows: 6000

Country Name: Ireland
Country Code: ie
Read 200 rows
Total Rows: 6200

Country Name: Israel
Country Code: il
Read 200 rows
Total Rows: 6400

Country Name: Italy
Country Code: it
Read 200 rows
Total Rows: 6600

Country Name: Japan
Country Code: jp
Read 200 rows
Total Rows: 6800

Country Name: Kazakhstan
Country Code: kz
Read 0 rows
Total Rows: 6800

Country Name: Latvia
Country Code: lv
Read 200 rows
Total Rows: 7000

Country Name: Lithuania
Country Code: lt
Read 200 rows
Total Rows: 7200

Country Name: Luxembourg
Country Code: lu
Read 200 rows
Total Rows: 7400

Country Name: Malaysia
Country Code: my
Read 200 rows
Total Rows: 7600

Country Name: Mexico
Country Code: mx
Read 200 rows
Total Rows: 7800

Country Name: Morocco
Country Code: ma
Read 200 rows
Total Rows: 8000

Country Name: Netherlands
Country Code: nl
Read 200 rows
Total Rows: 8200

Country Name: New Zealand
Country Code: nz
Read 200 rows
Total Rows: 8400

Country Name: Nicaragua
Country Code: ni
Read 200 rows
Total Rows: 8600

Country Name: Nigeria
Country Code: ng
Read 0 rows
Total Rows: 8600

Country Name: Norway
Country Code: no
Read 200 rows
Total Rows: 8800

Country Name: Panama
Country Code: pa
Read 200 rows
Total Rows: 9000

Country Name: Paraguay
Country Code: py
Read 200 rows
Total Rows: 9200

Country Name: Peru
Country Code: pe
Read 200 rows
Total Rows: 9400

Country Name: Philippines
Country Code: ph
Read 200 rows
Total Rows: 9600

Country Name: Poland
Country Code: pl
Read 200 rows
Total Rows: 9800

Country Name: Portugal
Country Code: pt
Read 200 rows
Total Rows: 10000

Country Name: Romania
Country Code: ro
Read 200 rows
Total Rows: 10200

Country Name: Russia
Country Code: ru
Read 200 rows
Total Rows: 10400

Country Name: Saudi Arabia
Country Code: sa
Read 200 rows
Total Rows: 10600

Country Name: Singapore
Country Code: sg
Read 200 rows
Total Rows: 10800

Country Name: Slovakia
Country Code: sk
Read 200 rows
Total Rows: 11000

Country Name: South Africa
Country Code: za
Read 200 rows
Total Rows: 11200

Country Name: South Korea
Country Code: kr
Read 200 rows
Total Rows: 11400

Country Name: Spain
Country Code: es
Read 200 rows
Total Rows: 11600

Country Name: Sweden
Country Code: se
Read 200 rows
Total Rows: 11800

Country Name: Switzerland
Country Code: ch
Read 200 rows
Total Rows: 12000

Country Name: Taiwan
Country Code: tw
Read 200 rows
Total Rows: 12200

Country Name: Thailand
Country Code: th
Read 200 rows
Total Rows: 12400

Country Name: Turkey
Country Code: tr
Read 200 rows
Total Rows: 12600

Country Name: United Arab Emirates
Country Code: ae
Read 200 rows
Total Rows: 12800

Country Name: Ukraine
Country Code: ua
Read 200 rows
Total Rows: 13000

Country Name: United Kingdom
Country Code: gb
Read 200 rows
Total Rows: 13200

Country Name: Uruguay
Country Code: uy
Read 200 rows
Total Rows: 13400

Country Name: United States
Country Code: us
Read 200 rows
Total Rows: 13600

Country Name: Vietnam
Country Code: vn
Read 200 rows
Total Rows: 13800

Country Name: Argentina
Country Code: ar
Read 200 rows
Total Rows: 14000

Country Name: Australia
Country Code: au
Read 200 rows
Total Rows: 14200

Country Name: Austria
Country Code: at
Read 200 rows
Total Rows: 14400

Country Name: Belarus
Country Code: by
Read 0 rows
Total Rows: 14400

Country Name: Belgium
Country Code: be
Read 200 rows
Total Rows: 14600

Country Name: Bolivia
Country Code: bo
Read 200 rows
Total Rows: 14800

Country Name: Brazil
Country Code: br
Read 200 rows
Total Rows: 15000

Country Name: Bulgaria
Country Code: bg
Read 200 rows
Total Rows: 15200

Country Name: Canada
Country Code: ca
Read 200 rows
Total Rows: 15400

Country Name: Chile
Country Code: cl
Read 200 rows
Total Rows: 15600

Country Name: Colombia
Country Code: co
Read 200 rows
Total Rows: 15800

Country Name: Costa Rica
Country Code: cr
Read 200 rows
Total Rows: 16000

Country Name: Cyprus
Country Code: cy
Read 200 rows
Total Rows: 16200

Country Name: Czech Republic
Country Code: cz
Read 200 rows
Total Rows: 16400

Country Name: Denmark
Country Code: dk
Read 200 rows
Total Rows: 16600

Country Name: Dominican Republic
Country Code: do
Read 200 rows
Total Rows: 16800

Country Name: Ecuador
Country Code: ec
Read 200 rows
Total Rows: 17000

Country Name: Egypt
Country Code: eg
Read 200 rows
Total Rows: 17200

Country Name: El Salvador
Country Code: sv
Read 200 rows
Total Rows: 17400

Country Name: Estonia
Country Code: ee
Read 200 rows
Total Rows: 17600

Country Name: Finland
Country Code: fi
Read 200 rows
Total Rows: 17800

Country Name: France
Country Code: fr
Read 200 rows
Total Rows: 18000

Country Name: Germany
Country Code: de
Read 200 rows
Total Rows: 18200

Country Name: Greece
Country Code: gr
Read 200 rows
Total Rows: 18400

Country Name: Guatemala
Country Code: gt
Read 200 rows
Total Rows: 18600

Country Name: Honduras
Country Code: hn
Read 200 rows
Total Rows: 18800

Country Name: Hong Kong
Country Code: hk
Read 200 rows
Total Rows: 19000

Country Name: Hungary
Country Code: hu
Read 200 rows
Total Rows: 19200

Country Name: Iceland
Country Code: is
Read 200 rows
Total Rows: 19400

Country Name: India
Country Code: in
Read 200 rows
Total Rows: 19600

Country Name: Indonesia
Country Code: id
Read 200 rows
Total Rows: 19800

Country Name: Ireland
Country Code: ie
Read 200 rows
Total Rows: 20000

Country Name: Israel
Country Code: il
Read 200 rows
Total Rows: 20200

Country Name: Italy
Country Code: it
Read 200 rows
Total Rows: 20400

Country Name: Japan
Country Code: jp
Read 200 rows
Total Rows: 20600

Country Name: Kazakhstan
Country Code: kz
Read 0 rows
Total Rows: 20600

Country Name: Latvia
Country Code: lv
Read 200 rows
Total Rows: 20800

Country Name: Lithuania
Country Code: lt
Read 200 rows
Total Rows: 21000

Country Name: Luxembourg
Country Code: lu
Read 200 rows
Total Rows: 21200

Country Name: Malaysia
Country Code: my
Read 200 rows
Total Rows: 21400

Country Name: Mexico
Country Code: mx
Read 200 rows
Total Rows: 21600

Country Name: Morocco
Country Code: ma
Read 200 rows
Total Rows: 21800

Country Name: Netherlands
Country Code: nl
Read 200 rows
Total Rows: 22000

Country Name: New Zealand
Country Code: nz
Read 200 rows
Total Rows: 22200

Country Name: Nicaragua
Country Code: ni
Read 200 rows
Total Rows: 22400

Country Name: Nigeria
Country Code: ng
Read 0 rows
Total Rows: 22400

Country Name: Norway
Country Code: no
Read 200 rows
Total Rows: 22600

Country Name: Panama
Country Code: pa
Read 200 rows
Total Rows: 22800

Country Name: Paraguay
Country Code: py
Read 200 rows
Total Rows: 23000

Country Name: Peru
Country Code: pe
Read 200 rows
Total Rows: 23200

Country Name: Philippines
Country Code: ph
Read 200 rows
Total Rows: 23400

Country Name: Poland
Country Code: pl
Read 200 rows
Total Rows: 23600

Country Name: Portugal
Country Code: pt
Read 200 rows
Total Rows: 23800

Country Name: Romania
Country Code: ro
Read 200 rows
Total Rows: 24000

Country Name: Russia
Country Code: ru
Read 200 rows
Total Rows: 24200

Country Name: Saudi Arabia
Country Code: sa
Read 200 rows
Total Rows: 24400

Country Name: Singapore
Country Code: sg
Read 200 rows
Total Rows: 24600

Country Name: Slovakia
Country Code: sk
Read 200 rows
Total Rows: 24800

Country Name: South Africa
Country Code: za
Read 200 rows
Total Rows: 25000

Country Name: South Korea
Country Code: kr
Read 200 rows
Total Rows: 25200

Country Name: Spain
Country Code: es
Read 200 rows
Total Rows: 25400

Country Name: Sweden
Country Code: se
Read 200 rows
Total Rows: 25600

Country Name: Switzerland
Country Code: ch
Read 200 rows
Total Rows: 25800

Country Name: Taiwan
Country Code: tw
Read 200 rows
Total Rows: 26000

Country Name: Thailand
Country Code: th
Read 200 rows
Total Rows: 26200

Country Name: Turkey
Country Code: tr
Read 200 rows
Total Rows: 26400

Country Name: United Arab Emirates
Country Code: ae
Read 200 rows
Total Rows: 26600

Country Name: Ukraine
Country Code: ua
Read 200 rows
Total Rows: 26800

Country Name: United Kingdom
Country Code: gb
Read 200 rows
Total Rows: 27000

Country Name: Uruguay
Country Code: uy
Read 200 rows
Total Rows: 27200

Country Name: United States
Country Code: us
Read 200 rows
Total Rows: 27400

Country Name: Vietnam
Country Code: vn
Read 200 rows
Total Rows: 27600

Country Name: Argentina
Country Code: ar
Read 200 rows
Total Rows: 27800

Country Name: Australia
Country Code: au
Read 200 rows
Total Rows: 28000

Country Name: Austria
Country Code: at
Read 200 rows
Total Rows: 28200

Country Name: Belarus
Country Code: by
Read 0 rows
Total Rows: 28200

Country Name: Belgium
Country Code: be
Read 200 rows
Total Rows: 28400

Country Name: Bolivia
Country Code: bo
Read 200 rows
Total Rows: 28600

Country Name: Brazil
Country Code: br
Read 200 rows
Total Rows: 28800

Country Name: Bulgaria
Country Code: bg
Read 200 rows
Total Rows: 29000

Country Name: Canada
Country Code: ca
Read 200 rows
Total Rows: 29200

Country Name: Chile
Country Code: cl
Read 200 rows
Total Rows: 29400

Country Name: Colombia
Country Code: co
Read 200 rows
Total Rows: 29600

Country Name: Costa Rica
Country Code: cr
Read 200 rows
Total Rows: 29800

Country Name: Cyprus
Country Code: cy
Read 200 rows
Total Rows: 30000

Country Name: Czech Republic
Country Code: cz
Read 200 rows
Total Rows: 30200

Country Name: Denmark
Country Code: dk
Read 200 rows
Total Rows: 30400

Country Name: Dominican Republic
Country Code: do
Read 200 rows
Total Rows: 30600

Country Name: Ecuador
Country Code: ec
Read 200 rows
Total Rows: 30800

Country Name: Egypt
Country Code: eg
Read 200 rows
Total Rows: 31000

Country Name: El Salvador
Country Code: sv
Read 200 rows
Total Rows: 31200

Country Name: Estonia
Country Code: ee
Read 200 rows
Total Rows: 31400

Country Name: Finland
Country Code: fi
Read 200 rows
Total Rows: 31600

Country Name: France
Country Code: fr
Read 200 rows
Total Rows: 31800

Country Name: Germany
Country Code: de
Read 200 rows
Total Rows: 32000

Country Name: Greece
Country Code: gr
Read 200 rows
Total Rows: 32200

Country Name: Guatemala
Country Code: gt
Read 200 rows
Total Rows: 32400

Country Name: Honduras
Country Code: hn
Read 200 rows
Total Rows: 32600

Country Name: Hong Kong
Country Code: hk
Read 200 rows
Total Rows: 32800

Country Name: Hungary
Country Code: hu
Read 200 rows
Total Rows: 33000

Country Name: Iceland
Country Code: is
Read 200 rows
Total Rows: 33200

Country Name: India
Country Code: in
Read 200 rows
Total Rows: 33400

Country Name: Indonesia
Country Code: id
Read 200 rows
Total Rows: 33600

Country Name: Ireland
Country Code: ie
Read 200 rows
Total Rows: 33800

Country Name: Israel
Country Code: il
Read 200 rows
Total Rows: 34000

Country Name: Italy
Country Code: it
Read 200 rows
Total Rows: 34200

Country Name: Japan
Country Code: jp
Read 200 rows
Total Rows: 34400

Country Name: Kazakhstan
Country Code: kz
Read 0 rows
Total Rows: 34400

Country Name: Latvia
Country Code: lv
Read 200 rows
Total Rows: 34600

Country Name: Lithuania
Country Code: lt
Read 200 rows
Total Rows: 34800

Country Name: Luxembourg
Country Code: lu
Read 200 rows
Total Rows: 35000

Country Name: Malaysia
Country Code: my
Read 200 rows
Total Rows: 35200

Country Name: Mexico
Country Code: mx
Read 200 rows
Total Rows: 35400

Country Name: Morocco
Country Code: ma
Read 200 rows
Total Rows: 35600

Country Name: Netherlands
Country Code: nl
Read 200 rows
Total Rows: 35800

Country Name: New Zealand
Country Code: nz
Read 200 rows
Total Rows: 36000

Country Name: Nicaragua
Country Code: ni
Read 200 rows
Total Rows: 36200

Country Name: Nigeria
Country Code: ng
Read 0 rows
Total Rows: 36200

Country Name: Norway
Country Code: no
Read 200 rows
Total Rows: 36400

Country Name: Panama
Country Code: pa
Read 200 rows
Total Rows: 36600

Country Name: Paraguay
Country Code: py
Read 200 rows
Total Rows: 36800

Country Name: Peru
Country Code: pe
Read 200 rows
Total Rows: 37000

Country Name: Philippines
Country Code: ph
Read 200 rows
Total Rows: 37200

Country Name: Poland
Country Code: pl
Read 200 rows
Total Rows: 37400

Country Name: Portugal
Country Code: pt
Read 200 rows
Total Rows: 37600

Country Name: Romania
Country Code: ro
Read 200 rows
Total Rows: 37800

Country Name: Russia
Country Code: ru
Read 200 rows
Total Rows: 38000

Country Name: Saudi Arabia
Country Code: sa
Read 200 rows
Total Rows: 38200

Country Name: Singapore
Country Code: sg
Read 200 rows
Total Rows: 38400

Country Name: Slovakia
Country Code: sk
Read 200 rows
Total Rows: 38600

Country Name: South Africa
Country Code: za
Read 200 rows
Total Rows: 38800

Country Name: South Korea
Country Code: kr
Read 200 rows
Total Rows: 39000

Country Name: Spain
Country Code: es
Read 200 rows
Total Rows: 39200

Country Name: Sweden
Country Code: se
Read 200 rows
Total Rows: 39400

Country Name: Switzerland
Country Code: ch
Read 200 rows
Total Rows: 39600

Country Name: Taiwan
Country Code: tw
Read 200 rows
Total Rows: 39800

Country Name: Thailand
Country Code: th
Read 200 rows
Total Rows: 40000

Country Name: Turkey
Country Code: tr
Read 200 rows
Total Rows: 40200

Country Name: United Arab Emirates
Country Code: ae
Read 200 rows
Total Rows: 40400

Country Name: Ukraine
Country Code: ua
Read 200 rows
Total Rows: 40600

Country Name: United Kingdom
Country Code: gb
Read 200 rows
Total Rows: 40800

Country Name: Uruguay
Country Code: uy
Read 200 rows
Total Rows: 41000

Country Name: United States
Country Code: us
Read 200 rows
Total Rows: 41200

Country Name: Vietnam
Country Code: vn
Read 200 rows
Total Rows: 41400

Country Name: Argentina
Country Code: ar
Read 200 rows
Total Rows: 41600

Country Name: Australia
Country Code: au
Read 200 rows
Total Rows: 41800

Country Name: Austria
Country Code: at
Read 200 rows
Total Rows: 42000

Country Name: Belarus
Country Code: by
Read 0 rows
Total Rows: 42000

Country Name: Belgium
Country Code: be
Read 200 rows
Total Rows: 42200

Country Name: Bolivia
Country Code: bo
Read 200 rows
Total Rows: 42400

Country Name: Brazil
Country Code: br
Read 200 rows
Total Rows: 42600

Country Name: Bulgaria
Country Code: bg
Read 200 rows
Total Rows: 42800

Country Name: Canada
Country Code: ca
Read 200 rows
Total Rows: 43000

Country Name: Chile
Country Code: cl
Read 200 rows
Total Rows: 43200

Country Name: Colombia
Country Code: co
Read 200 rows
Total Rows: 43400

Country Name: Costa Rica
Country Code: cr
Read 200 rows
Total Rows: 43600

Country Name: Cyprus
Country Code: cy
Read 200 rows
Total Rows: 43800

Country Name: Czech Republic
Country Code: cz
Read 200 rows
Total Rows: 44000

Country Name: Denmark
Country Code: dk
Read 200 rows
Total Rows: 44200

Country Name: Dominican Republic
Country Code: do
Read 200 rows
Total Rows: 44400

Country Name: Ecuador
Country Code: ec
Read 200 rows
Total Rows: 44600

Country Name: Egypt
Country Code: eg
Read 200 rows
Total Rows: 44800

Country Name: El Salvador
Country Code: sv
Read 200 rows
Total Rows: 45000

Country Name: Estonia
Country Code: ee
Read 200 rows
Total Rows: 45200

Country Name: Finland
Country Code: fi
Read 200 rows
Total Rows: 45400

Country Name: France
Country Code: fr
Read 200 rows
Total Rows: 45600

Country Name: Germany
Country Code: de
Read 200 rows
Total Rows: 45800

Country Name: Greece
Country Code: gr
Read 200 rows
Total Rows: 46000

Country Name: Guatemala
Country Code: gt
Read 200 rows
Total Rows: 46200

Country Name: Honduras
Country Code: hn
Read 200 rows
Total Rows: 46400

Country Name: Hong Kong
Country Code: hk
Read 200 rows
Total Rows: 46600

Country Name: Hungary
Country Code: hu
Read 200 rows
Total Rows: 46800

Country Name: Iceland
Country Code: is
Read 200 rows
Total Rows: 47000

Country Name: India
Country Code: in
Read 200 rows
Total Rows: 47200

Country Name: Indonesia
Country Code: id
Read 200 rows
Total Rows: 47400

Country Name: Ireland
Country Code: ie
Read 200 rows
Total Rows: 47600

Country Name: Israel
Country Code: il
Read 200 rows
Total Rows: 47800

Country Name: Italy
Country Code: it
Read 200 rows
Total Rows: 48000

Country Name: Japan
Country Code: jp
Read 200 rows
Total Rows: 48200

Country Name: Kazakhstan
Country Code: kz
Read 0 rows
Total Rows: 48200

Country Name: Latvia
Country Code: lv
Read 200 rows
Total Rows: 48400

Country Name: Lithuania
Country Code: lt
Read 200 rows
Total Rows: 48600

Country Name: Luxembourg
Country Code: lu
Read 200 rows
Total Rows: 48800

Country Name: Malaysia
Country Code: my
Read 200 rows
Total Rows: 49000

Country Name: Mexico
Country Code: mx
Read 200 rows
Total Rows: 49200

Country Name: Morocco
Country Code: ma
Read 200 rows
Total Rows: 49400

Country Name: Netherlands
Country Code: nl
Read 200 rows
Total Rows: 49600

Country Name: New Zealand
Country Code: nz
Read 200 rows
Total Rows: 49800

Country Name: Nicaragua
Country Code: ni
Read 200 rows
Total Rows: 50000

Country Name: Nigeria
Country Code: ng
Read 0 rows
Total Rows: 50000

Country Name: Norway
Country Code: no
Read 200 rows
Total Rows: 50200

Country Name: Panama
Country Code: pa
Read 200 rows
Total Rows: 50400

Country Name: Paraguay
Country Code: py
Read 200 rows
Total Rows: 50600

Country Name: Peru
Country Code: pe
Read 200 rows
Total Rows: 50800

Country Name: Philippines
Country Code: ph
Read 200 rows
Total Rows: 51000

Country Name: Poland
Country Code: pl
Read 200 rows
Total Rows: 51200

Country Name: Portugal
Country Code: pt
Read 200 rows
Total Rows: 51400

Country Name: Romania
Country Code: ro
Read 200 rows
Total Rows: 51600

Country Name: Russia
Country Code: ru
Read 200 rows
Total Rows: 51800

Country Name: Saudi Arabia
Country Code: sa
Read 200 rows
Total Rows: 52000

Country Name: Singapore
Country Code: sg
Read 200 rows
Total Rows: 52200

Country Name: Slovakia
Country Code: sk
Read 200 rows
Total Rows: 52400

Country Name: South Africa
Country Code: za
Read 200 rows

In [19]:
spotify_data

,Source,Position,Trend,Track,Streams,Country,Country_Code,Week_Start,Week_Ending
0,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">1</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Tiago ...","<td class=""chart-table-streams"">3,165,700</td>",Argentina,ar,2021-12-31,2022-01-07
1,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">2</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Bar</s...","<td class=""chart-table-streams"">2,809,466</td>",Argentina,ar,2021-12-31,2022-01-07
2,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">3</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>TITAN<...","<td class=""chart-table-streams"">2,628,944</td>",Argentina,ar,2021-12-31,2022-01-07
3,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">4</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Salimo...","<td class=""chart-table-streams"">2,284,377</td>",Argentina,ar,2021-12-31,2022-01-07
4,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">5</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>DANCE ...","<td class=""chart-table-streams"">2,132,451</td>",Argentina,ar,2021-12-31,2022-01-07
...,...,...,...,...,...,...,...,...,...
183595,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">196</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Let Me...","<td class=""chart-table-streams"">34,938</td>",Vietnam,vn,2022-03-25,2022-04-01
183596,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">197</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Ke Cap...","<td class=""chart-table-streams"">34,902</td>",Vietnam,vn,2022-03-25,2022-04-01
183597,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">198</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>this i...","<td class=""chart-table-streams"">34,874</td>",Vietnam,vn,2022-03-25,2022-04-01
183598,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">199</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>Memori...","<td class=""chart-table-streams"">34,835</td>",Vietnam,vn,2022-03-25,2022-04-01
183599,"<td class=""chart-table-image"">\n<a href=""https...","<td class=""chart-table-position"">200</td>","<td class=""chart-table-trend"">\n<div class=""ch...","<td class=""chart-table-track"">\n<strong>cometh...","<td class=""chart-table-streams"">34,444</td>",Vietnam,vn,2022-03-25,2022-04-01

In [20]:
drive.mount('/drive')
spotify_data.to_csv('/drive/My Drive/JSC370 Data/spotify_data_weekly_final.csv', encoding = 'utf-8', index = False)

Mounted at /drive